{% extends 'base.html.twig' %}

{% block title %}Crear Solicitud{% endblock %}

{% block Solicitudes %}active{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="card" id="formsolicitud">
                <div class="card-header bg-info text-white">
                    <div class="card-title h6">Crear Solicitud</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input type="text"  placeholder="Titulo" id="titulo" class="form-control form-control-sm" required/>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <textarea id="descripcion" placeholder="Escriba aqui..." class="form-control form-control-sm" rows="2" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="campoafin">Campo Afin</label>
                        <select name="" class="custom-select custom-select-sm" id="campoafin" required>
                            <option disabled selected>Seleccione una option...</option>
                            {% for campoafin in camposafines %}
                                <option value="{{ campoafin.id }}">{{ campoafin.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-secondary btn-sm">Limpiar</button>
                        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/app/solicitud.js') }}"></script>
{% endblock %}