{% extends 'base.html.twig' %}

{% block title %}Ver Usuario{% endblock %}
{% block body %}

    {% for usuario in usuarios %}
        <li>{{ usuario.nombre }}</li>
        <li>{{ usuario.apellido }}</li>
    {% endfor %}
{% endblock %}

