{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block ayuda_menu %}active{% endblock %}

{% block slider %}
<div class="slider">
    <div id="comslider_in_point_1717359"></div><script type="text/javascript">var oCOMScript1717359=document.createElement('script');oCOMScript1717359.src="https://commondatastorage.googleapis.com/comslider/target/users/1542929026x250a1d82cac35f4fa546b915314587ed/comslider.js?timestamp=1542930283&ct="+Date.now();oCOMScript1717359.type='text/javascript';document.getElementsByTagName("head").item(0).appendChild(oCOMScript1717359);</script>
</div>
{% endblock %}

{% block body %}{% endblock %}

